:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --gray-color: #F9FAFC;
  --light-color: #FFFFFF;
  --accent-color: #00C2ff;
  --dark-color: #1F1F1F;
}


