.Avatar {
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.AvatarImage {
  position: relative;
  z-index: 5;
  img {
    width: 100%;
    height: 100%;
  }
}

.AvatarIcon {
  z-index: 4;
  color: var(--light-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
