.Search {
  background-color: var(--light-color);
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.SearchIcon {
  color: #9B9B9B;
  margin-right: 8px;
}

.SearchInput {
  height: 100%;
  width: 100%;
  padding: 15px 0;

  &::placeholder {
    color: #9B9B9B;
  }
}
