.Logo {
  display: flex;
  align-items: center;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
  color: var(--dark-color);

  @media (max-width: 590px) {
    display: none;
  }
}
